@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import "tailwindcss-primeui";




@theme {
  --color-panelheader: var(--p-panelheader);
  --color-panelbody: var(--p-panelbody);
  --color-panelfooter: var(--p-panelfooter);
  --color-textprimary: var(--p-textprimary);
  --color-textsecondary: var(--p-textsecondary);
  --color-bordercolor: var(--p-bordercolor);
  --color-taskbg: var(--p-taskbg);
  --color-highlighttext: var(--p-highlighttext);
  --color-accenthover: var(--p-accenthover);

  --color-chartreuse-50: var(--p-chartreuse-50);
  --color-chartreuse-100: var(--p-chartreuse-100);
  --color-chartreuse-200: var(--p-chartreuse-200);
  --color-chartreuse-300: var(--p-chartreuse-300);
  --color-chartreuse-400: var(--p-chartreuse-400);
  --color-chartreuse-500: var(--p-chartreuse-500);
  --color-chartreuse-600: var(--p-chartreuse-600);
  --color-chartreuse-700: var(--p-chartreuse-700);
  --color-chartreuse-800: var(--p-chartreuse-800);
  --color-chartreuse-900: var(--p-chartreuse-900);
  --color-chartreuse-950: var(--p-chartreuse-950);

  --color-surface-50: var(--p-surface-50);
  --color-surface-100: var(--p-surface-100);
  --color-surface-200: var(--p-surface-200);
  --color-surface-300: var(--p-surface-300);
  --color-surface-400: var(--p-surface-400);
  --color-surface-500: var(--p-surface-500);
  --color-surface-600: var(--p-surface-600);
  --color-surface-700: var(--p-surface-700);
  --color-surface-800: var(--p-surface-800);
  --color-surface-900: var(--p-surface-900);
  --color-surface-950: var(--p-surface-950);
}
